header {
    height: 100px;
    background: darkslategrey;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    font-family: sans-serif;
    z-index: 10;
}

section {
    margin-top: 90px;
    margin-left: -10px;
    padding: 0;
}


#log {
    background: black;
    color: white;
    padding: 10px;
    overflow-y: scroll;
    width: 23vw;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 50vh;
    margin-top: 110px;
}

#ui {
    display: inline-block;
    margin-top: 50px;
}

#speed {
    width: 20vw;
    display: inline-block;
    position: absolute;
    right: 2.3vw;
    top: 60vh;
    border: 2px solid black;
    text-align: center;
}

#buttons {
    width: 23vw;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 70vh;
}

button {
    width: 45%;
    height: 20vh;
}

p {
    margin: 0;
    padding: 0;
}
